@{
    ViewBag.Title = "About";
}
<h2 class="h2hero">@ViewBag.Title.</h2>
<h3 class="h3hero">@ViewBag.Message</h3>

<p class="phero">I am an automated personal Wardrobe for superheroes, I can synthize most types of clothing.  If you are a supervillian, go, just go</p>
