@{
    ViewBag.Title = "Contact";
}
<h2 class="h2hero">@ViewBag.Title.</h2>
<h3 class="h3hero">@ViewBag.Message</h3>

<h4 class="h4hero">You are already talking with me, I am an AI, you don't need to send me a ton of emails or phone calls</h4>