@{
    ViewBag.Title = "Wardobe Home";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="suptext">Where's my Tights?</h1>
        <p class="lead">Welcome to your Supersuit Wardrobe</p>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="h2hero">Getting started</h2>
            <p class="phero">
                This is your wardrobe.  It is a bit bare bones now, but more items will be added.
            </p>

        </div>
        <div class="col-md-12">
            <h2 class="h2hero">Enjoy your visit</h2>
            <p class="phero">Make sure you put on the right suit</p>

        </div>
    </div>
</div>